body {
  font-family: Arial, sans-serif;
  background-color: #e6f0ff;
    /* background-color: #3500D3; */
  justify-content: center;


}
/* .bg-img{
  background-image: url(bg4.png);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
}
.signupoveral {
  width: 350px;
  height: 430px;
  margin: 0 auto; /* Add this line to center the box horizontally */
  display: flex;
  justify-content: center;
  align-items: center; /* Add this line to center the box vertically */
}

.container {
  width: 350px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 7px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  border: 2px solid white;
  padding: 20px;
  position: relative;
  top:3rem;
  height: 350px;
}

h2 {
  text-align: center;
}

h1 {
  /* color: #333; */
  color:white;
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.input-group {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-group label {
  margin-bottom: 5px;
  color: white;
}

.input-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 255, 0.7);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 0, 255, 0.4);
}

.submit {
  margin-top: 10px;
}

.signin-link {
  text-align: center;
  margin-top: 20px;
}

.signin-link button {
  margin-top: -10px;
  background-color: #007bff;
 color: #ffffff;
  width: 50%;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s, opacity 0.3s;
}

.signin-link button:hover {
  background-color: rgba(0, 0,190, .5);
}

.signin-link h2 {
  font-weight: bold;
  font-size: 18px;
}

.signin-link a {
  color:#fff;
  text-decoration: none;

}
.signina{
  color: white;
}

.underline-none {
  text-decoration: none !important;
}
h4{
  color:red;
  opacity:.5;
}

/* Logo*/
.logo-container {
  text-align: center; /* Center the logo horizontally */
  padding: 10px; /* Add padding around the logo */
}

.logo-container img {
  width: 150px; /* Set the width of the logo */
  height: auto; /* Maintain the aspect ratio */
}
#logo {
     position: absolute;
     top: 2px;
     left: 10px;
     padding-top: 10px;
     width: 5rem;
     cursor: pointer;
   }
   body {
      margin: 0;
      padding: 0;
    }

    .navbar {
      background-color: none;
      opacity: .4;
      padding: 10px;
      color: #fff;
      display: flex;
      align-items: center;
      padding-top: 10px;
      justify-content: space-between;
      position: absolute;
      top: 0;
      margin-top: 10px;
      right: 30px;

    }

    .logo {
      margin-left: 20px;
    }

    .navbar ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
    }

    .navbar li {
      margin-right: 10px;
    }

    .navbar li a {
      /* color: #333; */
      color: white;
      text-decoration: none;
      font-weight:bold;
      padding: 10px 20px;
    }

    .navbar li a:hover {
      background-color: rgba(0, 0, 139, 1);
      color:white;
      border-radius: 10px;
    }
/* dropdown navbar */
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}

.navbar li {
  float: left;
}

.navbar li a, .navbar .dropdown-content a {
  display: block;
  /* color: #333; */
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Montserrat Subrayada', sans-serif;
}

.navbar li a:hover:not(.active) {
  background-color: #007bff;
  color: white;
}

.navbar .dropdown:hover .dropdown-content {
  display: block;
}

.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 190, .5);
  border-radius: 5px;
}

.navbar .dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar .dropdown-content a:hover {
  background-color: #007bff;
  color: white;
}


.signin-container{
  height: 23rem;

  margin-left: 30px;
}
.writesignin{
  top:2rem;
}
/* Other styles for the form and other elements */
.Overall{
  display: flex;
  margin-top: 5rem;

}
.Overall p{
  color: red;
}
.aboutus{
  margin-top: 6.8rem;
  width: 50%;

  margin-left: 6rem;
}

.aboutus{
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.8), rgba(200, 200, 200, 0.8));
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);

}
.aboutus p{
  padding-left: 15px;
}
 .logo .navbar{
  z-index: 5;
}

/* design of signin box */
.top-container
{
  display: flex;
  padding: 40px;
  /* background-color: #3500D3 */
}
.writeup{
  flex-basis: 48% ; /*-- so that we get 2 pic in one row--*/
  text-align: center;
  border-radius: 7px;
  margin-bottom: 20px;
  color: black;
  position: relative;
  z-index: 3;
}
.writeuptxt{
  top:3rem;
  left :5rem;
padding: 3px;
  margin-right: 80px;
  background-color:rgba(0,0,0,0);
  border-radius: 20px;
}
.writeuptxt p{
  /* color:#424242; */
  color:white;
  font-weight: bold;
  font-family: 'Philosopher', sans-serif;
}


/* gallery */
.middlecontianer{
}
#Gallery{
  margin-top: 0px;
  width: 100%;
  padding: 70px 0;
/* background-image:url(bg41.png); */
/* / Center and scale the image nicely */ */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;

}
.Gallery-box{
  display: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;

}
.Gallery_1{
  flex-basis: 48% ; /*-- so that we get 2 pic in one row--*/
  text-align: center;
  border-radius: 7px;
  margin-bottom: 20px;
  color: #fff;
  position: relative;
}
.Gallery_1 img{
  width: 100%;
  border-radius: 7px;
}
.overlay{
  width: 100%;
  height: 98.9%;
  position: absolute;
  top:0;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(255,255,255,0.5));
  opacity: 0;
  transition: 1s;
}
.Gallery_1:hover .overlay{
  opacity: 1;
}
.Gallery_1_desc{
  width: 80%;
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 1s;
}
hr{
background:#000;
 height: 2px;
  border: 0;
  margin: 10px auto;
  width: 60%;
}
.Gallery_1_desc h3{
padding-top:  5px;
  color: #000;

}
.Gallery_1_desc p{
  font-size: 20px;
  color: #000;

}
.Gallery_1:hover .Gallery_1_desc{
  bottom: 40%;
  opacity: 1;
  color: #000;
}
.embeded{
  margin-top: 40px;
  top:3rem;
}
.train{
  margin-top: 40px;
  top:3rem;
}

.elecmanu{
  margin-top: 40px;
  top:3rem;
}

.iot{
  margin-top: 40px;
  top:3rem;
}

.title-text h1{
  font-size: 45px;
  padding-bottom: 20px;

}
.footer{
  z-index: 4;
}
#footer{
  padding-top: 30px;
  background: rgba(0,0,0,0.1);
  z-index: 4;
}
.footer-row{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-left,.footer-right{
  flex-basis: 45%;
  padding: 10px;
  /* margin-bottom: 20px; */
}
.footer-right{
  text-align: right;\
  text-decoration: none;
}
.footer-row h1{
  margin: 0px 0;
  color:#fff;
}

.footer-row p{
  line-height: 35px;
  color:#fff;
}
.footer-right a{
  text-decoration: none;
  color: #fff;}

.social-links{
  text-align: center;
}
.social-links .fa{
  height: 40px;
  width: 40px;

  font-size: 20px;
  line-height: 40px;
  border: 1px solid #fff;
  margin:40px 5px 0 ;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}
.social-links .fa:hover{
  background: rgba(0, 0, 250, 0.5);
  color: #fff;
  transform: translateY(7px);
}
.social-links .insta:hover{
    background: rgba(255, 0,255, 0.7);
  }
.social-links p{
  font-size: 12px;
  margin-top: 20px;
  color:white;

}
.social-links a{
  text-decoration: none;
}
